# This workflow builds and publishes a Bunny CLI wrapper image for Five Safes TES.
# It tracks the latest released version of the upstream Bunny project and only
# builds a new image when a corresponding Bunny-versioned image does not already exist.
name: Publish a Bunny CLI image compatible with Five Safes TES. 

on:
  schedule:
    - cron: "0 0 * * *"  
  push: 
    branches: ["add-ci-build-for-bunny-analytics-image"]
env:
  image-name: five-safes-tes-analytics-bunny-cli
  repo-owner: ${{ github.repository_owner }}
  registry: ghcr.io

jobs:
  publish-analytics-bunny:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # v3.0.0

      - name: Docker Login
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ${{ env.registry }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Resolve latest Bunny release
        id: bunny
        run: |
            TAG=$(gh api \
            repos/health-informatics-uon/hutch-bunny/releases/latest \
            --jq '.tag_name | ltrimstr("v")')
            echo "tag=$TAG" >> "$GITHUB_OUTPUT"
        env:
            GH_TOKEN: ${{ github.token }}
      
      - name: Check if image already exists
        id: exists
        run: |
            repo_owner_lower="${GITHUB_REPOSITORY_OWNER,,}"
            if docker manifest inspect \
                "ghcr.io/${repo_owner_lower}/${{ env.image-name }}:${{ steps.bunny.outputs.tag }}" >/dev/null 2>&1; then
                echo "exists=true" >> "$GITHUB_OUTPUT"
            else
                echo "exists=false" >> "$GITHUB_OUTPUT"
            fi

      - name: Docker Metadata action
        id: meta
        # if: steps.exists.outputs.exists == 'false'
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index
        with:
          images: ${{ env.registry }}/${{ env.repo-owner }}/${{ env.image-name }}
          # Tag notes:
          # The purpose of this container is to act as a wrapper around the real bunny image, tracking the bunny version.
          # Therefore we only include the Bunny semver tag. 
          tags: |
            type=raw,value=${{ steps.bunny.outputs.tag }}
          # Label notes:
          # - The image version tracks the upstream Bunny release version
          # - This repository does not have its own independent semver lifecycle
          labels: |
            org.opencontainers.image.revision={{sha}}
            org.opencontainers.image.version=${{ steps.bunny.outputs.tag }}

          annotations: |
            org.opencontainers.image.description=Five Safes TES Analytics Bunny CLI 

      - name: Build and push Docker images
        # if: steps.exists.outputs.exists == 'false'
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          context: "./docker/bunny-wrapper"
          file: "./docker/bunny-wrapper/Dockerfile"
          build-args: |
            BUNNY_VERSION=${{ steps.bunny.outputs.tag }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
